body {
  background-color: #69e9f5;
  font-family: "Poppins", sans-serif;
}

a {
  color: #702283;
}

.weather-app {
  background-color: #cfffff;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 15px;
  padding: 40px;
}

header {
  padding: 0 0 20px 0;
}

.search-form-input {
  background-color: #cfffff;
  border: 1px solid #69e9f5;
  border-radius: 7px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #69e9f5;
  border: none;
  border-radius: 7px;
  color: #702283;
  padding: 15px 20px;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding: 20px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-family: "Shadows Into Light Two", cursive;
  font-size: 44px;
  line-height: 48px;
}

.day {
  font-size: 18px;
}
.time {
  font-size: 18px;
}

.weather-app-details {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #768590;
}

.weather-app-details strong {
  color: #702283;
}

.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 88px;
  margin-left: 10px;
}

.weather-app-unit {
  font-size: 28px;
  margin-top: 16px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #69e9f5;
  padding: 30px 0 0 0;
}
